/* ------------------ CONFIGURAÇÃO GERAL ------------------ */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #0e0e0e;
    overflow: hidden;

}

/* ------------------ FUNDO DO BACKGROUND BOLHAS ------------------ */
.bubbles {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;

}

.bubble {
    position: absolute;
    bottom: -100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    animation: float 10s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(0) scale(0.5);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) scale(1);
        opacity: 0;
    }
}

/* ------------------ BOAS VINDAS ------------------ */
.welcome-container {
    text-align: center;
    color: #fff;
    max-width: 400px;
    padding: 120px;
    margin: auto;
    margin-top: 141px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 23%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    z-index: 1;
    position: relative;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.username {
    color: #007bff;
    text-transform: uppercase;
}

.greeting {
    font-size: 24px;
    margin-bottom: 30px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.action-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #007bff;
}