/* ------------------ CONFIGURAÇÃO GERAIS  ------------------*/
* {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #212121;
}

/* ------------------ CABECALHO ------------------*/

.navbar {
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px;
    position: relative;
}

.logo {
    margin: 0;
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.username {
    font-size: 18px;
    margin-left: auto;
    padding-right: 13px;
    color: #007bff;
    text-transform: uppercase;
}

.sair {
    font-size: 18px;
    color: aliceblue;
}

/* ------------------ FORMULARIO ------------------*/

form {
    margin: 20px auto;
    max-width: 600px;
    background-color: #2F2F2F;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    color: white;
    margin-top: 51px;
}

form div {
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form textarea {
    width: calc(100% - 22px); /* Removendo 22px para compensar o padding */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
    margin-bottom: 10px;
}

form textarea {
    resize: vertical;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* ------------------ FOOTER ------------------*/
.footer {
    background-color: #171717;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}